body {
	background-color: #F6F1ED;
}

.pure-menu {

	text-align: center;
	background-color: #F6F1ED;
	padding: 6px;
}

.pure-menu-item {
	margin-right: 2px;
	margin-left: 2px;
}

.contenitore1, .contenitore-ultimo {

	margin-left: 30%;
	margin-right: 30%;
	margin-top: 10%;
}

.pure-button {

	color: #F6F1ED;
	border-radius: 6px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	background: rgb(66, 184, 221);
	font-size: 110%;
	font-weight: 800;
	text-align: center;
}

.table-pettorine {

	margin: auto; 
	margin-top: 20px; 
	text-align: right;
	width: 80%;
}

tr.row-pettorine:nth-child(even) {
	background: #F2F2F2;
}

tr.row-pettorine:nth-child(odd) {
	background: #FFF;
}

.contenitore2 {

	margin-left: 34%;
	margin-right: 34%;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 1%;
}

tr, td {
	text-align: center;
}