body{
  background-color: #FEFDFC;
}

.center{
   margin-bottom: 15%;
}

.center table{
    margin: auto;
    width: 80%;
}
.fixed-top{
  position: fixed;
}

.fixed-bottom{
  bottom: 0;
  position: fixed;
}

.centerText{
    text-align: center;
}

.passed{
  color: #79D863;
}

.notpassed{
  color: #F25454;
}

th {
    background-color: rgb(66, 184, 221);
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

td {
	text-align: center;
}

.femminile {
	background-color: #FFBCCC;
}

#noborder{
  border: none;
  font-size: 140%;
}
