.center{
   margin-bottom: 15%;
}


.center table{
    margin: auto;
    width: 50%;
}
.fixed-top{
  position: fixed;
}

.fixed-bottom{
  bottom: 0;
  position: fixed;
}

.centerText{
    text-align: center;
}
