body{
  background-color: #FFFFFF;
}


.center{
   margin-bottom: 15%;
}


.center table{
    margin: auto;
    width: 60%;
}
.fixed-top{
  position: fixed;
}

.fixed-bottom{
  bottom: 0;
  position: fixed;
}

.centerText{
    text-align: center;
}

.passed{
  color: #00A8E8;
}

.notpassed{
  color: #00171F;
}



th {
    background-color: #F45B69;
    color: #FFFFFF;
}

#noborder{
  border: none;
}
