label {

	font-size: 30vw;
	color: #666;
	line-height: 1.2em;
	cursor: pointer;
}

body {
	background-color: #FEFDFC;
}

a {
	text-align: center;
}

input[type="radio"] {

	float: right;
	visibility: hidden;
}

input[type="radio"]:checked + label {
	color: rgb(66, 184, 221);
}

.navbar {

	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	z-index: 9999;
	background-color: #FEFDFC;
	/*box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.2);*/
}

.pure-button {

	width: 100%;
	padding: 4vh;
	color: #F6F1ED;
	border-radius: 6px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	background: rgb(66, 184, 221);
	font-size: 130%;
	font-weight: 800;
	text-align: center;
}

.button-passato {
	background: #79D863;
}

.button-non-passato {
	background: #F25454;
}

#pas, #npas {
	visibility: hidden;
}

#pas:checked + label, #npas:checked + label {
	color: #F6F1ED;
}

#npas:checked + label {

	-khtml-box-shadow: 0px 0px 40px 2px #702727 inset;
	-webkit-box-shadow: 0px 0px 40px 2px #702727 inset;
	-moz-box-shadow: 0px 0px 40px 2px #702727 inset;
	box-shadow: 0px 0px 40px 2px #702727 inset;
	border-color: #000\9;
}

#npas:active + label {

	-khtml-box-shadow: 0px 0px 40px 2px #592020 inset;
	-webkit-box-shadow: 0px 0px 40px 2px #592020 inset;
	-moz-box-shadow: 0px 0px 40px 2px #592020 inset;
	box-shadow: 0px 0px 40px 2px #592020 inset;
	border-color: #000\9;
}

#pas:checked + label {

	-khtml-box-shadow: 0px 0px 40px 2px #36602C inset;
	-webkit-box-shadow: 0px 0px 40px 2px #36602C inset;
	-moz-box-shadow: 0px 0px 40px 2px #36602C inset;
	box-shadow: 0px 0px 40px 2px #36602C inset;
	border-color: #000\9;
}

#pas:active + label {
	
	-khtml-box-shadow: 0px 0px 40px 2px #2C4F22 inset;
	-webkit-box-shadow: 0px 0px 40px 2px #2C4F22 inset;
	-moz-box-shadow: 0px 0px 40px 2px #2C4F22 inset;
	box-shadow: 0px 0px 40px 2px #2C4F22 inset;
	border-color: #000\9;
}

.padding {
	padding: 6px;
}

.container {

	margin-top: 2px;
	margin-bottom: 120px;
	margin-left: 12px;
	text-align: center;
}

.container-tentativo {

	margin-top: 2px;
	margin-bottom: 120px;
	text-align: center;
}

.fa-chevron-left {
	margin-left: -6px;
}

.fa-chevron-right {
	margin-right: -10px;
}

.fa-check {
	margin-left: -4px;
	margin-right: -18px;
}

.fa-check-span {
	font-size: 96%;
	margin-left: -17px;
}

/*
.fa-times {
	margin-left: -12px;
	margin-right: 
}*/

.description {
	
	font-size: 4vh;
	margin-top: 0.6vh;
	margin-bottom: 0.6vh;
	padding-bottom: 2px;
	text-align: center;
	color: #666;
	font-weight: 800;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.description-top {
	
	font-size: 4vh;
	text-align: center;
	color: #666;
	font-weight: 800;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.tentativo {

	margin-top: -3vh;
	font-size: 42vh;
	color: #666;
}

@media only screen and (max-device-width: 320px) {

	.tentativo {

		margin-top: -5vh;
		font-size: 42vh;
		color: #666;
	}
}

.esito {

	text-align: center;
	font-size: 10vh;
	color: #666;
}

.esito-positivo {
	margin-top: 34vh;
	/*color: #79D863;*/
}

.esito-negativo {
	margin-top: 26vh;
	/*color: #F25454;*/
}
